@page
@model EditUserAdminModel
@using EBazeni;
@{
    ViewData["Title"] = "Uredi detalje o zaposleniku";
    Layout = "../../../../../Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            @*<input asp-for="PageUser.Id" hidden />*@

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Input.OIB"></label>
                <input asp-for="Input.OIB" class="form-control" />
                <span asp-validation-for="Input.OIB" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.DatumRodenja"></label>
                <input asp-for="Input.DatumRodenja" class="form-control" />
                <span asp-validation-for="Input.DatumRodenja" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Ime"></label>
                <input asp-for="Input.Ime" class="form-control" />
                <span asp-validation-for="Input.Ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Prezime"></label>
                <input asp-for="Input.Prezime" class="form-control" />
                <span asp-validation-for="Input.Prezime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Prebivaliste"></label>
                <input asp-for="Input.Prebivaliste" class="form-control" />
                <span asp-validation-for="Input.Prebivaliste" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Boraviste"></label>
                <input asp-for="Input.Boraviste" class="form-control" />
                <span asp-validation-for="Input.Boraviste" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Zaposlenik.TipZaposlenika"></label>
                <select asp-for="Input.TipZaposlenika" asp-items="Model.TipoviZaposlenika" class="form-control">
                </select>
            </div>



            @if (User.IsInRole(WC.AdminRole)) {
                <div class="form-group">
                    <label asp-for="Input.IsAdmin"></label>
                    <input asp-for="Input.IsAdmin" class="form-check-inline" />
                    <span asp-validation-for="Input.IsAdmin" class="text-danger"></span>
                </div>
            }



            <button type="submit" class="btn btn-default">Uredi korisnika</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
