<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row" style="background-color: indianred">
            <div class="col-12" style="text-align:center">
                <h1 class="text-white">Dobrodošli!</h1>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12" style="text-align: center">
                <p class="text-body">Poštovani <b>{0} {1}</b>, molimo potvrdite vašu e-mail adresu klikom na dugme ispod...</p>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-3"></div>
            <div class="col-6" style="text-align: center">
                <a href="{2}" class="btn btn-danger" role="button">Potvrdi e-mail adresu</a>
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row p-3">
            <div class="col-3"></div>
            <div class="col-6">
                <p class="text-body" style="text-align: center">Ukoliko ne vidite dugme, kliknite na sljedeću poveznicu: <a href="{3}"></a></p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>

</html>